<div class="oneSnip-card">
  <div class="card-info" data-id="{{snippet._id}}">
    <p class="title"> Type:
      {{snippet.type}}
    </p>
    <p class="title"> Information:
      {{snippet.information}}
    </p>

    <p class="title">Content: </p>
      {{snippet.content}}

    <div class="actions">
      <button class="btn btn-secondary p-3" type="submit"> Delete snippet </button>
    <button class="btn btn-secondary p-3" type="submit"> Update snippet </button>
    </div>
  </div>
</div>