@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Ibarra+Real+Nova&family=Montserrat:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Recursive', sans-serif;
    background-color: #14213D;
}
.create-snip-message {
    text-align: center;
}

pre{
    height: 220px;
    overflow-y: scroll;
    scrollbar-color: #fea469 #fc6662;
    scrollbar-width: thin;
}

.oneSnip-card{
    background-color: rgb(217, 223, 217);
    padding: 50px;
    display: flex;
    border-radius: 15px;
}

p.title{
    padding: 10px 0 10px 0px;
}

.actions{
    margin-top: 25px;
}

.actions button{
    margin-right: 15px;
}

.border-light{
    border-color: transparent !important
}

.card-info{
    padding: 15px 0px 15px 0px;
    width: 30.5%;
}

.card-body-cascade{
    background-color: #d9d9d9db;
}
pre code{
    background-color: #feb26b1a;
}

code {
    font-family: Consolas,"courier new";
    color: #d4d1e0;
    background-color: #f1f1f13d;
    padding: 2px;
    font-size: 14px;
  }

  .box-options{
    max-height: 80vh;
}
.sign-in{
    max-height: 384px
}

.btn-info{
    background: #e4733d
}

.game-title h1{
    color:#ee874c;
    font-family: 'Press Start 2P', cursive;
    font-size: 65px;
    padding-top: 50px
}

span.icon{
    color:#e6b273
}

.btn-info:hover {
    color: #fff;
    background-color: #e67938;
    border-color: #fff;
}

.btn-info:active {
    color: orange;
    background-color: pink;
    border-color: #fff;
}

.btn-info:active {
    color: red;
    background-color: green;
    border-color: #fff;
}



h4{
    font-weight: 600;
}

label{
    padding: 5px 0 5px 0;
}


#create-account input{
    background-color: #d9d9d9;
}
#sign-in input{
    background-color: #d9d9d9;
}

#create-account input::placeholder{
    font-weight: 400;
}

#sign-in input::placeholder{
    font-weight: 400;
}

#snippets form input{
    background-color: #d9d9d9;
}

#snippets form textarea{
    background-color: #d9d9d9;
}

.btn-create-account:hover{
    color: #fff;
    background-color: #e67938;
    border-color: #fff;
}

#update-snip .btn-update-snip p-3{
    background: #e4733d
}

.cards-snips-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* new layout settings */

$font-headings: 'Iceland', cursive;
$font-default: 'Poppins', sans-serif;

$background-color: #14213D;
$accent-color: #FCA311;
$card-background: #1B253D;
$light-gray: #E5E5E5;
$light-white: #FFFFFF;

li{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}

.small-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#createAccount-loginSite{
    margin-top: 100px;
}


.first-page{
    color: $accent-color;
    background-color: $background-color;
    position: relative;
    font-family: $font-default;

    .header{
        display: flex;
        justify-content: space-between;
        height: 15vh;
        align-items: center;

        .logo span h1{
            font-size: 80px;
            font-family: $font-headings;
        }

        nav{
            display: flex;

            li{
                padding: 0px 10px 0px 10px;
            }
            a{
                color: $accent-color;
            }
        }
    }
    .yellow-square{
        z-index: 10;
        background-color:$background-color;

        border: solid $accent-color;
        border-width: 0px 15px 15px 0px;
    }

    .btn-create-account{
        color: $background-color;
        background-color: $light-gray;
    }
    .btn-login-account{
        color: $background-color;
        background-color: $accent-color ;
    }

    .iMessageFrontPage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        padding: 20px;
        text-align: center;
        background-color: $card-background;
    }

}

.second-page{
    background-color: $background-color;
    font-family: $font-default;
    color: $light-white;
    .card-1{
        background-color: $card-background;
    }
    .card-2{
        background-color: $card-background;
    }
    .btn-change-password{
        background-color: #a7a39b;
    }
    .btn-create-account{
        background-color: $accent-color;
        color: $background-color;
        font-family: $font-default;
    }
    .snippets-container{
        label {
            border-left: 3px solid $accent-color;
            padding-left: 10px;
        }
        input{
            padding-bottom: 15px;
        }
    }

    .viewOptions{
        display: flex;
        padding: 50px 0 5px 0;

        .viewAll{
            color: $light-white;
            font-size: 30px;
            margin-right: 50px;
            border-bottom: 3px solid $light-white;
            padding-bottom: 5px;
            font-family: $font-headings;

            a{
                color: $light-white;
            }
        }
        .seachSnip{
            color: $accent-color;
            font-size: 30px;
            margin-right: 50px;
            font-family: $font-headings;
        }

    }
}

#snippets{
    color: $light-white;
}

.gradient-card-header{
    background-color:$card-background;
    color: $light-gray;
    padding-top: 25px;
}

.btn-select-snip{
    background-color: $accent-color;
    color: $card-background;
}

button.btn-delete-snip{
    background-color: #a7a39b;
}
